/* POPUP STUFF */

*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: block;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .modal-title{
  font-size: 1.25rem;
  font-weight: bold;
  float: left;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  float: right;
}

.modal-body {
  padding: 10px 15px;
}

.modal img{
  width: 100%;
  height: 100%;
  max-height: 50%
  border-radius: 3%;
  padding: 10px;
  float: clear;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* TESTIMONIAL STUFF */

* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

.testimonials {
  padding: 40px 0;
  color: #434343;
  text-align: center;
}

.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border {
  width: 160px;
  height: 5px;
  background: #461D7C;
  margin: 26px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out,
		border 300ms ease-in-out;
}

.col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out,
		border 300ms ease-in-out;
}

button:hover {
	box-shadow: inset 0 0 40px 40px #461D7C;
	color: #fff;
	outline: 0;
}

.testimonial {
  background: #fff;
  padding: 30px;
}

.testimonial img{
  width: 100%;
  height: 100%;
  border-radius: 10%;
  cursor: pointer;
}

.name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20 px 0;
  color: #6ab04c;
  margin-bottom: 20px;
}

.namex, .name1, .name2, .name3, .name4, .name5 {
  background-color: #838383;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  cursor: pointer;
  margin-top: 6px;
  margin-bottom: 8px;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out,
		border 300ms ease-in-out;
}

p {
  overflow: hidden;
  height: 50px;
  -webkit-mask: -webkit-linear-gradient(black, transparent 100%);
  -webkit-mask: linear-gradient(black, transparent 100%);
  -webkit-filter: blur(3px);
  mask: url('#mask-linear');
  filter: url('#filtre2');
  z-index: 8;
}

.svg-container {
  position: fixed;
  bottom: 10px;
  right: 15px;
  width: 9%;
  height: auto;
  z-index: 1;
  display: block;
  text-align: center;
}

.pathways {
  float: left;
  color: #383838;
  font-family: Trebuchet MS;
  font-weight: bold;
  padding: -20px;
  text-align: center;
}